
{% extends 'template.html' %}
{% block conteudo %}
    <form method="post" action="{{ url_for('autenticar') }}">
        <fieldset>
            <input type="hidden" id="proxima" name="proxima" value="{{ proxima or '/' }}">
            <p>
                <div class="form-group">
                    <label for="usuario">Nome de usuário</label>
                    <input type="text" id="usuario" name="usuario" class="form-control" required>
                </div>
            </p>
            <p>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" class="form-control" required>
                </div>
            </p>
            <p>
                <button type="submit" class="btn btn-success">Entrar</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '/'">Cancelar</button>
            </p>
        </fieldset>
    </form>
{% endblock %}