
{% extends 'template.html' %}
{% block conteudo %}
    <form method="post" action="{{ url_for('criar') }}">
        <fieldset>
            <p>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control">
                </div>
            </p>
            <p>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <input type="text" id="categoria" name="categoria" class="form-control">
                </div>
            </p>
            <p>
                <div class="form-group">
                    <label for="console">Console</label>
                    <input type="text" id="console" name="console" class="form-control">
                </div>
            </p>
            <p>
                <button type="submit" class="btn btn-success btn-salvar">Salvar</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '/'">Cancelar</button>
            </p>
        </fieldset>
    </form>
{% endblock %}